#Hardhat files
artifacts
builds
cache

#secret file
.secret.json

#Node modules
node_modules
package-lock.json

#Compiled files
.flattened
bin

#.Env file
.env

#Remix compiler
contracts/.deps
DFYHard721Factory_ABI.json
HardEvaluation_ABI.json
