{
    "mnemonic": "pulp leopard acid shield horn soda better earn opera maid guilt night",
    "Wallet": "0xec4500f4d82C0131ba7e392856c6c217941Be540",
    "InfuraKey": "",
    "BscScanApiKey": "G4MP781NEWXEZ9VFYCXHQVZ74UE4XCRNBI",
    "EtherscanApiKey": ""
}